.vscode
.idea

server.php
test.php
public/*
storage/*
vendor/*
build/*
!**/.gitkeep

.ht*
!.ht*.*

*.bak
*.cache
*.lock
*.xml
*.log
*.sql
*.sqlite
*.db
.Trashes
.DS_Store
.DS_Store?
.Spotlight-V100
._*
